dist
.astro
node_modules
package-lock.json
studio/.sanity
studio/dist
studio/node_modules
studio/package-lock.json
artifacts/homepage-compression/
artifacts/shop-compression/
artifacts/collection-compression/
artifacts/footer-compression/
artifacts/about-compression/
artifacts/size-guide-compression/
